.task-field {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  row-gap: 20px;
  align-items: center;
}

.tasks-paragraph {
  display: grid;
  grid-template-columns: 100px 100px;
}

.create-button {
  margin-bottom: 30px;
}

.checkbox {
  width: 17px;
  height: 17px;
}

.taskState {
  margin-left: 5px;
}